.borde {
  border: 2px solid #80daf3;
  border-radius: 10px;
}

.btn-primary {
  background-color: #00b0dc;
  border: none;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  min-width: 150px;
  max-width: 200px;
  margin: 2em;
}
.style {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card-img-top {
  max-width: 100px;
}
