@import '_meassures.scss';


@mixin size($width, $height) {
  width: $width;
  height: $height;
}


.borde {
  border: 2px solid #80daf3;
  border-radius: 10px;
}

.btn-primary {
  background-color: #00b0dc;
  border: none;
}

.btn-primary:hover {
  background-color: #00b0dce1;
  border: none;
}

.card {
  min-width: 150px;
  max-width: 200px;
  margin: 2em;
  padding:1em 0;
  height: 230px;
  cursor: pointer;
}

.style {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-img-top {
  max-width: 100px;
}

.contract-subtitle{
  font-size:20px;
}

.view-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner-contract {
    width: 80%;
    .banner-text {
      width: 100%;
    }
  }

  .section-types-contracts {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .cards-type-contract {
      display: flex;

      .card-deck {
        display: flex;
        justify-content: center;
      }
    }
  }
}
.titleWelcome{
  font-size: 24px;
}

.input-class{
  width: 100%;
}
.vista-radios{
  span{
    font-weight: 500 !important;
  }
}
