@import '_meassures.scss';


@mixin size($width, $height) {
  width: $width;
  height: $height;
}


.borde {
  border: 2px solid #80daf3;
  border-radius: 10px;
}

.btn-primary {
  background-color: #00b0dc;
  border: none;
}

.card {
  min-width: 150px;
  max-width: 200px;
  margin: 2em;
  padding:1em 0;
}

.style {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-img-top {
  max-width: 100px;
}

.contract-subtitle{
  font-size:20px;
}


