.view-contract {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.view-contract .section-question .container-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-contract .section-contract {
  overflow: scroll;
  border: 1px solid #000000;
  border-radius: 10px;
}

@media (max-width: 320px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 80%;
    height: auto;
    padding: 0;
    margin: 25px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  .view-contract .generator-contract .section-contract {
    width: 80%;
    height: 300px;
    padding: 6px;
    margin: 25px 35px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 80%;
    height: auto;
    padding: 0;
    margin: 40px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 12px;
  }
  .view-contract .generator-contract .section-contract {
    width: 70%;
    height: 400px;
    padding: 6px;
    margin: 25px 45px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 70px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .view-contract .generator-contract .section-contract {
    width: 60%;
    height: 500px;
    padding: 10px;
    margin: 25px 60px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 5% 0 5%;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 50%;
    height: auto;
    padding: 0;
    margin: 60px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .view-contract .generator-contract .section-contract {
    width: 50%;
    height: 550px;
    padding: 10px;
    margin: 60px 35px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 5% 0 5%;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 80px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 18px;
  }
  .view-contract .generator-contract .section-contract {
    width: 40%;
    height: 600px;
    padding: 15px;
    margin: 50px 70px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .view-contract .generator-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .view-contract .generator-contract .section-question {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 60px 15px;
  }
  .view-contract .generator-contract .section-question #contract-data {
    width: 100%;
  }
  .view-contract .generator-contract .section-question #contract-data .button-continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .view-contract .generator-contract .section-contract {
    width: 40%;
    height: 700px;
    padding: 15px;
    margin: 70px 40px;
  }
  .view-contract .generator-contract .section-contract h2 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=makecontract.css.map */